body {
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	background-color: #E6FFFF;
	padding-bottom: 0;
	padding-top: 50px;
	padding-bottom: 20px;
}
.hidden {
	display: none;
}
.btn-space {
	padding: 5px 2em;
    margin: 5px;
}
.content {
	padding: 1em 0;
}
#home h2,
#home h3 {
	margin: 1em 0;
}
#contact h4,
#about h4 {
	margin: 2em 0;
}
.navbar {
	padding: 7px 0;
}
.navbar-brand {
	display: none;
}
.col-md-4 img {
	border: 2px solid #337ab7;
	border-radius: 12px;
	width: 80%;
}
#feedback {
	width: 95%;
	margin: 0 auto 1em auto;
	float: none;
}
#contact .row {
	padding: 1em;
}
#contact .social {
	display: none;
}
#contact .btn {
	padding: 15px;
	margin: 10px;
	font-size: 1.5em;
}
.social {
	padding: 1em;
	background-color: #222;
}
.social img {
	padding: 0 5px; 
}
.social h4 {
	margin: 5px 0 0 0;
	color: #9d9d9d;
}
.form {
  text-align: center;
  background-color: #e6ffe6;
  margin-bottom: 1em;
  border: 1px solid #5cb85c;
  border-radius: 12px;
  width: 50%;
  box-shadow:0 1px 2px 1px #337ab7;
}
.form-horizontal {
  width: 90%;
  margin: 0 auto;
}
fieldset {
  width: 50%;
  margin: 0 4.3em;
}
.rating {
  float:left;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
  float:right;
  width:1.2em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:150%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Tablet Screens */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
	.btn {
		font-size: 1.5em;
	}
	.navbar-brand {
		display: none;
	}
	.btn-space {
		padding: 5px 2em;
		margin: 5px;
	}
	.col-md-4 img {
		width: 50%;
	}
	.col-md-4 h2 {
		font-size: 2.3em;
		padding-bottom: 15px;
	}
	.col-md-4 h3 {
		font-size: 2em;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.container h4 {
		font-size: 1.8em;
	}
	.social {
		display: none;
	}
}

/* Phone Screens */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.navbar-brand {
		display: inline-block;
	}
	.btn-space {
		padding: 5px;
		margin: 0 5px;
	}
	.col-md-4 img {
		width: 50%;
	}
	.col-md-4 h2 {
		font-size: 2em;
		padding-top: 1em;
	}
	.col-md-4 h3 {
		font-size: 1.5em;
	}
	#about {
		margin: 0 1em;
	} 
	#contact .row {
		display: none;
	}
	.social {
		display: none;
	}
	#contact .social {
		display: inline-block;
		border-radius: 12px;
		box-shadow:0 2px #666;
	}
}
