body {
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	background-color: #E6FFFF;
	padding-bottom: 0;
}
.hidden {
	display: none;
}
.btn-space {
	padding: 5px 1em;
	margin: 0 5px;
}
.content {
	padding: 1em 0;
}
#home h2,
#home h3 {
	margin: 1em 0;
}
#contact h4,
#about h4 {
	margin: 2em 0;
}
.navbar {
	padding: 7px 0;
}
.col-md-4 img {
	border: 2px solid #008CBA;
	border-radius: 12px;
	width: 80%;
}
#feedback {
	width: 95%;
	margin: 0 auto 1em auto;
	float: none;
}
.bottom {
	margin: 0;
	padding: 1em 0 0 0;
	width: 100%;
}
#contact .social {
	display: none;
}
.social {
	padding: 1em;
	background-color: #222;
}
.social img {
	padding: 0 5px; 
}
.social h4 {
	margin: 5px 0 0 0;
	color: #9d9d9d;
}
.footer {
	width: 100%;
	height: 60px;
}

/* Desktop Screens */
@media screen and (min-width: 1200px) {
}

/* Tablet Screens */
@media only screen and (min-width: 737px) and (max-width: 1024px) {
	.btn {
		font-size: 150%;
	}
	.navbar-brand {
		display: none;
	}
	.btn-space {
		padding: 5px 2em;
		margin: 5px;
	}
	.col-md-4 img {
		width: 50%;
	}
	.container h2 {
		font-size: 300%;
	}
	.col-md-4 h2 {
		padding-top: 1em;
	}
	.col-md-4 h3 {
		font-size: 250%;
	}
	.container h4 {
		font-size: 180%;
	}
	#contact .row {
		padding: 1em;
	}
	#contact .btn {
		padding: 15px;
		margin: 10px;
		font-size: 150%;
	}
	.social {
		display: none;
	}
}


/* Phone Screens */
@media only screen and (min-width: 320px) and (max-width: 736px) {
	.navbar-brand {
		display: inline-block;
	}
	.btn-space {
		padding: 5px;
		margin: 0 5px;
	}
	.col-md-4 img {
		width: 50%;
	}
	.col-md-4 h2 {
		font-size: 200%;
		padding-top: 1em;
	}
	.col-md-4 h3 {
		font-size: 150%;
	}
	#about {
		margin: 0 1em;
	} 
	#contact .row {
		display: none;
	}
	.social {
		display: none;
	}
	#contact .social {
		display: inline-block;
		border-radius: 12px;
		box-shadow:0 2px #666
	}
}

